header {
    position: sticky;
    box-shadow: 0 5px 7px -7px rgba(0,0,0,0.75);
    background-color: #fff;
    > div {
        display: flex;
        align-items: center;
    }
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    .logo {
        width: 50px;
    }
    .user-info {
        display: flex;
        align-items: center;
        h4 {
            margin-left: 10px;
        }
    }
    .search-box {
        border-radius: 30px;
        background-color: #eeeeee;
        display: flex;
        align-items: center;
        padding: 10px;
        margin-left: 10px;
        input {
            margin-left: 5px;
            border: none;
            outline-width: 0;
            background-color: transparent;
        }
    }
    .options {
        padding: 0 25px;
        cursor: pointer;
        &.active {
            border-bottom: solid 2px #1877f2;
            .MuiSvgIcon-root {
                color: #1877f2;
            }
        }
        .MuiSvgIcon-root {
            color: grey;
            &:hover {
                color: #1877f2;
            }
        }
    }
} 